@import '../../styles/settings';

.c-menu {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 100px;
  transition: $animation-cubic;
  z-index: 5;

  img {
    width: 50px;
  }

  .contain-buttons {
    padding: 5px 20px 5px 5px;
    border-radius: $border-radius;
    background-color: $white;

    .butn {
      &.-submit {
        margin-right: 20px;
      }

      &.-link {
        color: $black;
      }
    }
  }

  &.-white {
    background-color: $white;
    box-shadow: 0 1px 0 0 rgba($black, .1);
  }
}
