@import "../../styles/settings";

.l-profile-page {
  top: 250px;
  position: relative;

  h2 {
    font-size: $font-size-h2;
    margin-bottom: 20px;
  }

  button {
    margin-right: 20px;
    font-family: $font-family-secondary;
    background-color: transparent;
    position: relative;
    outline: 0;

    &.-selected {
      &::after {
        content: '';
        display: block;
        height: 3px;
        background-color: $color-primary;
        width: 100%;
        margin-top: 3px;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.diagonal {
  width: 100%;
  height: 200px;
  overflow: hidden;
  transform: skewY(-4deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: $color-primary;
  position: absolute;
  z-index: 2;
  top: 0;
}
