body {
  color: $black;
  background-color: $body;
}

.wrap {
  width: 100%;
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  display: inline-block;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $color-secondary;
  }

  &.-no-underline {
    &::after {
      display: none;
    }
  }
}

button {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
}

p,
a,
button,
input {
  font-family: $font-family-secondary;
}
