//Colors
$color-primary: #05d5ff;
$color-secondary: #71f1a6;

$black: #000;
$white: #ffffff;

//Fonts
$base-font-color: $white;
$font-family-base: 'Montserrat', sans-serif;
$font-family-secondary: 'Lato', sans-serif;
$font-size-h1: 70px;
$font-size-h2: 30px;
$font-size-text-section: 24px;
$base-font-size: 18px;

$font-weight-bold: bold;
$letter-spacing-h1: 30px;
$letter-spacing-h2: 7px;
$letter-spacing-text-section: .6px;

//Margins
$small-margin: 20px;
$medium-margin: 40px;
$large-margin: 80px;

//Wrap
