.butn {
  padding: 10px 30px;
  cursor: pointer;
  font-size: $font-family-secondary;

  &.-submit {
    background-color: $color-secondary;
    color: $white;
  }

  &.-facebook {
    background-color: #3b5998;
    color: $white;
  }

  &.-link {
    padding: 0;
    color: $white;
    display: inline-block;

    &::after {
      display: none;
    }
  }
}
