.butn {
  padding: 10px 30px;
  font-size: $font-family-secondary;
  cursor: pointer;

  &.-submit {
    border-radius: $border-radius;
    background-color: $color-secondary;
    color: $white;
  }

  &.-facebook {
    border-radius: $border-radius;
    background-color: $facebook;
    color: $white;
  }

  &.-link {
    display: inline-block;
    padding: 0;
    color: $white;

    &::after {
      display: none;
    }
  }
}
