@import '../../styles/settings';

.l-login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .diagonal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    transform: skewY(-4deg);
    transform-origin: 0;
    background: $color-primary;
    overflow: hidden;
    z-index: 2;
  }

  form {
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border: 4px solid $color-primary;
    border-radius: $border-radius;
    background-color: $white;
    z-index: 2;

    .contain-submit {
      display: flex;
      justify-content: space-between;

      .butn {
        display: block;
        width: 45%;
        margin-top: 20px;
        text-align: center;
      }
    }

    p {
      display: block;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: $small-font;
      text-align: right;
    }

    h2 {
      font-size: $font-size-h2;
    }

    .message {
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 100%;
      padding: 6px;
      transition: .6s $cubic;
      background-color: $red;
      color: $white;
      font-size: $small-font;

      &.-hidden {
        bottom: -30px;
        opacity: 0;
      }
    }
  }
}
